

#faculty
{
  margin:50px;
  background-color: white;
}
#maintable
{margin: 50px;
  margin-top: -30px;
  background-color: white;
}
#main
{
  margin: 50px;
  
}
#tableElement
{
  margin-left: 10px;
  margin-right: 10px;
}